name: 'Terraform'

on:
  push:
    branches:
    - main
  pull_request:

env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_AD_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_AD_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_AD_TENENT_ID }}
      ROOT_PATH: '${{github.workspace}}/rsg'

jobs:

  terraform_plan:
    name: 'terraform plan'
    runs-on: ubuntu-latest
    environment: production

    defaults:
      run:
        shell: bash
    
    steps:
    - name: checkout
      uses: actions/checkout@v3
    
    - name: setup terraform
      uses: hashicorp/setup-terraform@v1
      with:
          cli_config_credentials_token: ${{ secrets.GITHUB_TOKEN}}
    
    - name: terraform init
      run: terraform init
      working-directory: ${{ env.ROOT_PATH}}
    - name: terraform init
      run: terraform init
      working-directory: ${{ env.ROOT_PATH}}

    - name: terraform init
      run: terraform init
      working-directory: ${{ env.ROOT_PATH}}



